*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.background{
    background-image: url("spider.jpeg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
} 

.navbar{
    height: 60px;
    background-color: black;
    color: rgb(194, 7, 7);
}

#logo h1{
    padding-left: 20px;
    padding-top: 7px;
    text-shadow: rgb(194, 7, 7) 1px 0 8px;
    animation: bounce 5s linear 0s infinite normal ;
}

@keyframes bounce {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(100vw);
  }
}

.sign-up-form{
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 500px;
  background-color: black;
  color: rgb(194, 7, 7);
  margin: 3% auto 0;
  text-align: center;
}

.sign-up-form h1{
  margin-top: 5px;
}

.input-box{
  border-radius: 20px;
  padding: 8px; 
  margin: 10px 0;
  margin-top: 13px;
  width: 80%;
  border: 1px solid red;
  outline: none;
}

button{
  color: white;
  width: 85%;
  padding: 7px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover{
  background-color: white;
  color: rgb(194, 7, 7);
}

.sign-up{
  background-color: rgb(169, 35, 35);
  margin-bottom: 12px;
}

.google-btn{
  background-color: rgb(184, 53, 53);
}

a{
  text-decoration: none;
  color: white;
}

hr{
  margin: 10px auto;
  width: 80%;
}

.or{
  color: rgb(194, 7, 7);
  width: 40px;
  margin: -19px auto 10px;
}

img{
  width: 70px;
}